@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&family=Germania+One&family=Hina+Mincho&family=Kaisei+Decol:wght@400;500&family=Kaisei+HarunoUmi:wght@500&family=Kiwi+Maru:wght@400;500&family=M+PLUS+1&family=Mochiy+Pop+One&family=Noto+Sans+JP:wght@400;500&family=Noto+Serif+JP:wght@400;500&family=Rampart+One&family=RocknRoll+One&family=Shippori+Antique+B1&family=Stick&family=Syne:wght@400;500&family=Vollkorn:wght@900&family=Yomogi&family=Yusei+Magic&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

#background {
    background-image: url("../img/background.jpg"); 
    width: 990px; 
    height: 3664px;
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    text-align: center;
    pointer-events: none;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 20px;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 40px 0px 40px;
}

.menu-special {
    margin-top: 150px;
    background-image: url("../img/banner.png"); height: 100px; width: auto;
    background-position: center;
    background-repeat: no-repeat;

}

.menu-special h2 {
    font-family: 'RocknRoll One', sans-serif;
    -webkit-text-stroke: 1px black;
    font-weight: 900;
    font-size: 46px;
    letter-spacing: 2px;
    display: block;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0 7px rgba(0, 0, 0, 0.712);
}

.button-menu {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
}

.button-menu .button1 {
    border: none;
    border-radius: 60px;
    padding: 20px 45px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Yusei Magic', sans-serif;
    color: #ffffff;
    background-color: #823324;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.555);
    transition-duration: 0.4s;
    border-bottom: solid 9px #50201688;
}

.button-menu .button2 {
    padding: 20px 68px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Yusei Magic', sans-serif;
    border: none;
    border-radius: 60px;
    color: #ffffff;
    background-color: #823324;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.555);
    transition-duration: 0.4s;
    border-bottom: solid 9px #50201688;

}

.button-menu .button3 {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-family: 'Yusei Magic', sans-serif;
    border: none;
    border-radius: 60px;
    color: #ffffff;
    background-color: #823324;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.555);
    transition-duration: 0.4s;
    border-bottom: solid 9px #50201688;
}

.button1:hover {
    background-color: #63281c;
    color: white;
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.582));
}

.button2:hover {
    background-color: #63281c;
    color: white;
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.582));
}

.button3:hover {
    background-color: #63281c;
    color: white;
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.582));
}


#menu {
    margin-top: 80px;
    margin-left: 8px;
}

#menu1 {
    background-image: url('../img/menu-1.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1px;
    width: 960px;
    height: 609px;
    position: relative;
}

#menu1 p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.2px;
    color: white;
    position: absolute;
    top: 200px;
    right: 60px;
}

#menu2 {
    background-image: url('../img/menu-2.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    width: 960px;
    height: 609px;
    position: relative;
}

#menu2 p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.3px;
    color: white;
    position: absolute;
    top: 210px;
    right: 90px;
}

#menu3 {
    background-image: url('../img/menu-3.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5.5px;
    width: 960px;
    height: 609px;
    position: relative;
}

#menu3 p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 2.5;
    color: white;
    position: absolute;
    top: 220px;
    right: 60px;
}

.kupon {
    margin-top: 70px;
    margin-left: 25px;
    width: 855px;
    height: 140px;
    cursor: pointer;
}

.kupon:hover {
    filter: drop-shadow(3px 5px 8px rgba(0, 0, 0, 0.904));
}

.akses {
    margin-top: 120px;
    margin-left: 40px;
    background-image: url(../img/akses.png);
    width: 912px;
    height: 253px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.akses p {
    font-family: 'Noto Serif JP', serif;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 600;
    color: #5a241a;
    position: absolute;
    top: 95px;
    left: 80px;
}

@media only screen and (max-width: 990px) {}
@media only screen and (max-width: 800px) {
    #background {
        width: 50%;
        padding: 0;
    }
}
@media only screen and (max-width:500px) {
    #background {
        width: 25%;
        padding: 0;
    }
}